{# empty Twig template #}

{{ set_assets('applications/Customers/Addons/Customers/assets/plugins/owl-carousel/owl.carousel.js') }}
{{ set_assets('applications/Customers/Addons/Customers/assets/plugins/owl-carousel/owl.carousel.css') }}
{{ set_assets('applications/Customers/Addons/Customers/assets/js/owl-carousel.js') }}

<div class="owl-clients-v1">

    {% if customers|length > 0 %}
        {% for customer in customers %}
            <div class="item">
                <img src="{{ resized_image(customer.logo_file, 120, null, 'fit') }}" alt="">
            </div>
        {% endfor %}
    {% endif %}

</div>
